<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <script src="/scripts/script.js" defer></script>
    <link rel="icon" href="/assets/bubble.svg">
</head>

<body>
    <p class="logged-in">Welkom {{loggedInName}}</p>
    <a href="/logout" class="logout">logout</a>
    {% unless login %}
    {% render 'partials/logout.liquid' %}
    {% endunless %}