@view-transition {
  navigation: auto;
}

body,
html {
  min-height: 100%;
}

body:has(:only-child):has(> form:only-child) {
  display: grid;
  place-items: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-image: url("/assets/blue-gradient-background.jpeg");
  background-size: 100% 120%;
  /* De afbeelding wordt exact geschaald naar de breedte en hoogte van de container */
  background-position: 50% 0%;
}

ul li {
  list-style-type: none;
}

.squadpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

    details {
         position: relative;
         max-inline-size: 40rem;
         padding: 1rem;
         margin-block: 1rem 0;
         margin-inline: auto;
         border: 1px solid hsl(260deg 100% 95%);
         background-color: var(--secondary-background-color);
         border-radius: 0.3rem;
         width: 14em;
         cursor: pointer;
         z-index: 10;


        .wrapper-dropdown {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease-out;
            position: absolute;
            left: -1px;

             ul {
                 position: relative;
                 top: 0;
                 background: var(--secondary-background-color);
                 width: 14em;
                 padding: .5em 0em 1em 1em;
                 border-radius: 0em 0em .3em .3em;
                 &::before {
                     content: '';
                     position: absolute;
                     top: 0;
                     height: 100%;
                     width: 100%;
                     z-index: 0;
                 }

                 li {
                     list-style-type: none;
                      z-index: 10;
                      position: relative;

                     &:first-child {
                         list-style-type: none;
                         border-bottom: solid 1px #c2c2c2;
                         padding: 0.8em 0;
                     }

                     &:nth-child(2) {
                         padding: 0.5em 0 0;
                     }

                     a {
                         text-decoration: none;
                         font-family: var(--font-paragraph);
                         color: var(--primary-background-color);
                         width: 100%;
                         display: flex;
                         z-index: 10;

                         &:hover {
                             color: var(--primary-highlight-color);
                         }
                         
                         &.filter-active{
                          font-weight: 600;
                          color: var(--primary-highlight-color);
                          transition: 0.2s ease-in-out;
                          &:hover{
                            color: var(--primary-background-color);
                          }
                        }
                     }
                 }
             }

        }
        
        &[open] .wrapper-dropdown {
    max-height: 10rem;
    /* Schat een voldoende grote waarde om alle content te tonen */
}
    
        &[open] summary::after {
            display: inline-block;
            transform: rotate(180deg);
            translate: 0% -40%;
        }

         summary {
        list-style: none;
        cursor: pointer;

        &::after {
            content: "\25BC";
            /* Pijltje naar beneden */
            position: absolute;
            inset-inline-end: 1rem;
            inset-block-start: 1.6em;
            transform: translateY(-50%);
            transition: transform 0.2s;
        }
      }
    }
    }

    &[open] summary::after {
      display: inline-block;
      transform: rotate(180deg);
      translate: 0% -40%;
    }

    summary {
      &::marker {
        content: none;
      }

      &::after {
        content: "\25BC";
        position: absolute;
        inset-inline-end: 1rem;
        inset-block-start: 1.6em;
        transform: translateY(-50%);
        transition: rotate 0.2s;
      }
    }

  /* Buiten de nesting gelaten omdat ::details-content geen geldige selector is */
  .details::details-content {
    display: block;
    block-size: 0;
    overflow: hidden;
    transition-property: block-size, content-visibility;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
  }

  .details[open]::details-content {
    block-size: auto;
    block-size: calc-size(auto, size);
  }

  .menu-dropdown {
    background-color: var(--secondary-background-color);
  }

.inleiding {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: center;

  @media screen and (min-width: 960px) {
    width: 40%;
  }
}

.filter-bookgenre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1.5em 0em;

  @media screen and (min-width: 960px) {
    padding: 2.5em 0em 3.5em 0em;
  }
}

#person-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;

  gap: 4em;
  padding: 5em 0em 0em 0em;

  @media screen and (min-width: 640px) {
    gap: 4em 2em;
  }

    .student {
        position: relative;
        padding: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;

    transition: 0.2s ease-in-out;

    @media screen and (min-width: 960px) {
      width: 100%;
    }

        &:hover {
            transform: translateY(-0.5em);
            transition: 0.2s ease-in-out;
        }


    .avatar {
      border-radius: var(--big-rounded);
      width: 7.5em;
      height: 7.5em;
      object-fit: cover;
      margin: -5em 0em 2em 0em;
    }

    p {
      text-align: left;
      display: flex;
      gap: 0.5em;
      height: 6em;
      overflow: hidden;

      .book-icon {
        width: 1.3em;
      }
    }

    .bio {
      overflow: hidden;

      p {
        padding: 1em 0em 0em 0em;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 0.7em;
      padding: 1em 0em 0em 0em;
    }
  }
}

.error-message{
  color: red;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: var(--font-paragraph);
}

/* ------------------------------------- Student.liquid -------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .link-back {
    margin: 0em 0em 2em 0em;
    width: 100%;

    @media screen and (min-width: 960px) {
      margin: 0em 0em -2em 0em;
    }

    a {
      display: inline-flex;
      gap: 0.7em;
      text-decoration: none;
    }
  }

  h1 {
    text-align: center;
    padding: 0.5em 0em 0em 0em;
  }

  .profile {
    border-radius: var(--big-rounded);
    width: 100%;

    @media screen and (min-width: 450px) {
      width: 25em;
      height: 25em;
      object-fit: cover;
    }

    @media screen and (min-width: 960px) {
      width: 25em;
      height: 25em;
      object-fit: cover;
    }
  }

  .introductie {
    max-width: 100%;
    text-align: center;

    @media screen and (min-width: 960px) {
      max-width: 60%;
    }
  }

  .meer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 2em 0em 0em 0em;

        li {
            p {
                display: flex;
                align-items: center;
                gap: 0.5em;
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 0.7em 1.3em;
            }
        }
    }

    form {
        margin-top: 2em ;
        width: 25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--primary-text-color);
        font-family: var(--font-paragraph);
        gap: 0.5em;

        label{
            font-size: 14px;
        }

        textarea {
            width: 100%;
            background: rgba(255, 255, 255, 0.193);
            box-shadow: 0 4px 30px rgba(108, 9, 9, 0.1);
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: var(--small-rounded);
            padding: 1em 0 0 1em;
        }

        button {
            padding: 1em 1.5em;
            width: 9em;
            margin: 1em auto;
            box-shadow: none;
            border: 1px solid var(--primary-text-color);
            border-radius: var(--small-rounded);
            color: var(--primary-text-color);
            background-color: transparent;
            &:hover{
                cursor: pointer;
                border: 1px solid var(--primary-background-color);
                border-radius: var(--small-rounded);
                color: var(--primary-background-color);
                background-color: var(--primary-text-color);
            }
        }
    }
}

.logout, .logged-in {
  position: absolute;
  top: 1rem;
  font-family: var(--font-paragraph);
  z-index: 2;
}

.logout {
  right: 1rem;
}

.logged-in {
  left: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    text-align: center;
  }

  form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      display: flex;
      flex-direction: column;
      color: var(--primary-text-color);
      font-family: var(--font-paragraph);
      align-items: center;
    }

    input {
      height: 3.5em;
      width: 23em;
      padding: 0em 0em 0em 1em;
      margin: 2em 0em 0em 0em;
      color: var(--primary-text-color);
      font-family: var(--font-paragraph);
      font-size: 16px;

      &::placeholder {
        color: #cbcbcb;
      }
    }

    button {
      align-self: center;
    }
  }
}

section {
  position: relative;
}


.like-button {
    background: none;
    border: none;
    width: 5em;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.like-counter {
  color: white;
  font-weight: bold;
  position: absolute;
}

/* ---------------------------------- Footer -------------------------------------- */

footer {
  p {
    border-top: 1px #fff solid;
    text-align: center;
    padding: 1em 0em 0em 0em;
  }
}

/* ---------------------------------- Animatie -------------------------------------- */

.card {
  opacity: 0;
  &:has(.bubble-up) {
    opacity: unset;
  }
}

ul.client .card{
    opacity: 1;
}

.bubble-up {
  opacity: 1; /* The opacity will change when bubble-up is added */
  animation: bubble-up .5s ease-out forwards; /* Animation for the card */
}

/* Keyframes for bubble-up animation */
@keyframes bubble-up {
    0% {
      transform: translateY(40px) translateX(0);
      opacity: 0;
    }
    10% {
      transform: translateY(36px) translateX(2px);
      opacity: 0.2;
    }
    20% {
      transform: translateY(32px) translateX(3px);
      opacity: 0.4;
    }
    30% {
      transform: translateY(28px) translateX(2px);
      opacity: 0.6;
    }
    40% {
      transform: translateY(24px) translateX(0);
      opacity: 0.8;
    }
    50% {
      transform: translateY(20px) translateX(-2px);
      opacity: 1;
    }
    60% {
      transform: translateY(16px) translateX(-3px);
    }
    70% {
      transform: translateY(12px) translateX(-2px);
    }
    80% {
      transform: translateY(8px) translateX(-1px);
    }
    90% {
      transform: translateY(4px) translateX(0);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }
